DEBUG=True
SECRET_KEY=super-secret

DATABASE_URL=postgresql://url_user:url_password@clickly_url_db:5432/url_db
ALLOWED_ORIGINS=http://localhost,http://localhost:3001,http://127.0.0.1:3000,http://localhost:8080,http://localhost:8000,file://,null

USERS_SERVICE_URL=http://clickly_users_service:8000
ANALYTICS_SERVICE_URL=http://clickly_analytics_service:8003

MAX_URL_LENGTH=20
SHORT_CODE_LENGTH=6

ADMIN_TOKEN=admin_secret_token_12345
FRONTEND_URL=http://localhost

GOOGLE_SAFE_BROWSING_API_KEY=your_google_safe_browsing_api_key_here
SAFE_BROWSING_ENABLED=True